﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="RecibidoContactados.aspx.cs" Inherits="EnviadorSMS.RecibidoContactados" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<%@ Register Src="~/Controls/UCTraza.ascx" TagPrefix="uc" TagName="UCTraza" %>
    <h1 class="h3 mb-2 text-gray-800">Panel de Contactados
    </h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Registros</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <asp:UpdatePanel ID="upGridViewSMSRecibidos" runat="server" UpdateMode="Conditional" ChildrenAsTriggers="false">
                    <ContentTemplate>

                        <asp:GridView ID="gvSMSRecibidos" CssClass="table table-striped table-bordered table-hover" data-model="Recibidos.aspx"
                            Width="100%" AutoGenerateColumns="False" runat="server" 
                            EmptyDataText="Sin datos para mostrar."
                            OnPageIndexChanging="gvSMSRecibidos_PageIndexChanging" PageSize="50" AllowPaging="True"
                            >
                            <Columns>

                                <asp:BoundField HeaderText="#" DataField="RecibidoIdRecibido" ItemStyle-Width="50"/>
                                <%-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --%>
                                <asp:BoundField HeaderText="Celular" DataField="RecibidoCelular" ItemStyle-Width="100"/>
                                <asp:BoundField HeaderText="Mensaje" DataField="RecibidoMensaje" ItemStyle-Width="200"/>
                                <asp:BoundField HeaderText="Fecha de Alta" DataField="RecibidoFechaAlta" ItemStyle-CssClass="date-time" ItemStyle-Width="50"/>
                            
                            </Columns>
                        </asp:GridView>
                    </ContentTemplate>
                </asp:UpdatePanel>
              </div>
            </div>
          </div>
     <uc:UCTraza runat="server" ID="UCTraza1" />
</asp:Content>
